{
  "swagger": "2.0",
  "info": {
    "title": "PlanetScale API",
    "description": "\n\u003Cp\u003EPlanetScale API\u003C/p\u003E\n\u0026copy; 2026 PlanetScale, Inc.",
    "version": "v1",
    "x-copyright": "\u0026copy; 2026 PlanetScale, Inc."
  },
  "host": "api.planetscale.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "description": "When using a service token, returns the list of organizations the service token has access to. When using an OAuth token, returns the list of organizations the user has access to.\n### Authorization\nA   OAuth token must have at least one of the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | \u0060read_organizations\u0060 |",
        "operationId": "ListOrganizations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Gets the organizations for the current user",
            "schema": {
              "$ref": "#/definitions/PaginatedOrganization"
            }
          }
        }
      }
    },
    "/organizations/{organization}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get an organization",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_organization\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | \u0060read_organizations\u0060 |\n| Organization | \u0060read_organization\u0060 |",
        "operationId": "GetOrganization",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns an organization",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization",
        "description": "\n### Authorization\nA   OAuth token must have at least one of the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_organization\u0060 |",
        "operationId": "UpdateOrganization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateOrganizationRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the updated organization",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        }
      }
    },
    "/organizations/{organization}/audit-log": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List audit logs",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_audit_logs\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_audit_logs\u0060 |",
        "operationId": "ListAuditLogs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "If provided, returns results after the specified cursor",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "If provided, returns results before the specified cursor",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "If provided, specifies the number of returned results (max 100)",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the audit log events",
            "schema": {
              "$ref": "#/definitions/PaginatedAuditLogEvent"
            }
          }
        }
      }
    },
    "/organizations/{organization}/billing/payment-method": {
      "get": {
        "tags": [
          "Billing payment method"
        ],
        "summary": "Get the current billing payment method",
        "description": "Get the current payment method for an organization\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_payment_method\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_payment_method\u0060 |",
        "operationId": "GetOrganizationBillingPaymentMethod",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the organization\u0027s payment method",
            "schema": {
              "$ref": "#/definitions/BillingPaymentMethod"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing payment method"
        ],
        "summary": "Delete the current billing payment method",
        "description": "Delete the current payment method for an organization\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_payment_method\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_payment_method\u0060 |",
        "operationId": "DeleteOrganizationBillingPaymentMethod",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "204": {
            "description": "The billing payment method was deleted",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/billing/payment-method-setups": {
      "post": {
        "tags": [
          "Billing payment method setup"
        ],
        "summary": "Create a billing payment method setup",
        "description": "Create a hosted checkout session for adding or replacing an organization\u0027s payment method\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_payment_method\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_payment_method\u0060 |",
        "operationId": "UpdatePaymentMethod",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "201": {
            "description": "Returns the billing payment method setup",
            "schema": {
              "$ref": "#/definitions/BillingPaymentMethodSetup"
            }
          }
        }
      }
    },
    "/organizations/{organization}/billing/payment-method-setups/{id}": {
      "get": {
        "tags": [
          "Billing payment method setup"
        ],
        "summary": "Get a billing payment method setup",
        "description": "Get the state of a billing payment method setup\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_payment_method\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_payment_method\u0060 |",
        "operationId": "GetPaymentMethodSetup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Billing payment method setup ID from \u0060update_payment_method\u0060. Example: \u0060pmsetup_1234\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the billing payment method setup",
            "schema": {
              "$ref": "#/definitions/BillingPaymentMethodSetup"
            }
          }
        }
      }
    },
    "/organizations/{organization}/cluster-size-skus": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List available cluster sizes",
        "description": "List available cluster sizes for an organization\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_organization\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | \u0060read_organizations\u0060 |\n| Organization | \u0060read_organization\u0060 |",
        "operationId": "ListClusterSizeSkus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "engine",
            "description": "The database engine to filter by. Defaults to \u0027mysql\u0027.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "rates",
            "description": "Whether to include pricing rates in the response. Defaults to false.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "region",
            "description": "The region slug to get rates for. If not specified, uses the organization\u0027s default region.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "database",
            "description": "The database name to resolve rates for. When specified, database-level custom rates take precedence over organization rates.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "external",
            "description": "When true, list cluster sizes for external keyspaces. Defaults to false.",
            "type": "boolean"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns available cluster sizes with optional pricing rates",
            "schema": {
              "$ref": "#/definitions/ListClusterSizeSkus200ResponseSchema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List databases",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_database\u0060, \u0060delete_database\u0060, \u0060write_database\u0060, \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060promote_branches\u0060, \u0060demote_branches\u0060, \u0060delete_production_branch\u0060, \u0060connect_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_production_read_only_branch\u0060, \u0060delete_branch_password\u0060, \u0060delete_production_branch_password\u0060, \u0060delete_production_read_only_branch_password\u0060, \u0060read_deploy_request\u0060, \u0060create_deploy_request\u0060, \u0060approve_deploy_request\u0060, \u0060read_comment\u0060, \u0060create_comment\u0060, \u0060restore_backup\u0060, \u0060restore_production_branch_backup\u0060, \u0060read_backups\u0060, \u0060write_backups\u0060, \u0060delete_backups\u0060, \u0060delete_production_branch_backups\u0060, \u0060write_branch_vschema\u0060, \u0060write_production_branch_vschema\u0060, \u0060read_workflow\u0060, \u0060write_workflow\u0060, \u0060delete_workflow\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_databases\u0060 |",
        "operationId": "ListDatabases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "q",
            "description": "Search term to filter databases by name",
            "type": "string"
          },
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Retrieves the databases for an organization",
            "schema": {
              "$ref": "#/definitions/PaginatedDatabase"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Databases"
        ],
        "summary": "Create a database",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060create_databases\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060create_databases\u0060 |",
        "operationId": "CreateDatabase",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateDatabaseRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "201": {
            "description": "Returns the created database",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Get a database",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_database\u0060, \u0060delete_database\u0060, \u0060write_database\u0060, \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060promote_branches\u0060, \u0060demote_branches\u0060, \u0060delete_production_branch\u0060, \u0060connect_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_production_read_only_branch\u0060, \u0060delete_branch_password\u0060, \u0060delete_production_branch_password\u0060, \u0060delete_production_read_only_branch_password\u0060, \u0060read_deploy_request\u0060, \u0060create_deploy_request\u0060, \u0060approve_deploy_request\u0060, \u0060read_comment\u0060, \u0060create_comment\u0060, \u0060restore_backup\u0060, \u0060restore_production_branch_backup\u0060, \u0060read_backups\u0060, \u0060write_backups\u0060, \u0060delete_backups\u0060, \u0060delete_production_branch_backups\u0060, \u0060write_branch_vschema\u0060, \u0060write_production_branch_vschema\u0060, \u0060read_workflow\u0060, \u0060write_workflow\u0060, \u0060delete_workflow\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_databases\u0060 |\n| Database | \u0060read_database\u0060 |",
        "operationId": "GetDatabase",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns a database",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Databases"
        ],
        "summary": "Update database settings",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_database\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_databases\u0060 |\n| Database | \u0060write_database\u0060 |",
        "operationId": "UpdateDatabaseSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateDatabaseSettingsRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the updated database",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "summary": "Delete a database",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060delete_database\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060delete_databases\u0060 |\n| Database | \u0060delete_database\u0060 |",
        "operationId": "DeleteDatabase",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "204": {
            "description": "Deletes a database",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/backup-policies": {
      "get": {
        "tags": [
          "BackupPolicies"
        ],
        "summary": "List backup policies",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_backups\u0060 |\n| Database | \u0060read_backups\u0060 |",
        "operationId": "ListBackupPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns backup policies for the database",
            "schema": {
              "$ref": "#/definitions/PaginatedBackupPolicy"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BackupPolicies"
        ],
        "summary": "Create a backup policy",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_backups\u0060 |\n| Database | \u0060write_backups\u0060 |",
        "operationId": "CreateBackupPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateBackupPolicyRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "201": {
            "description": "Returns the created backup policy",
            "schema": {
              "$ref": "#/definitions/BackupPolicy"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/backup-policies/{id}": {
      "get": {
        "tags": [
          "BackupPolicies"
        ],
        "summary": "Get a backup policy",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_backups\u0060 |\n| Database | \u0060read_backups\u0060 |",
        "operationId": "GetBackupPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the backup policy",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns a backup policy",
            "schema": {
              "$ref": "#/definitions/BackupPolicy"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "BackupPolicies"
        ],
        "summary": "Update a backup policy",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_backups\u0060 |\n| Database | \u0060write_backups\u0060 |",
        "operationId": "UpdateBackupPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the backup policy",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateBackupPolicyRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the updated backup policy",
            "schema": {
              "$ref": "#/definitions/BackupPolicy"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BackupPolicies"
        ],
        "summary": "Delete a backup policy",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_backups\u0060 |\n| Database | \u0060write_backups\u0060 |",
        "operationId": "DeleteBackupPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the backup policy",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "204": {
            "description": "Returns no content",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "List branches",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "ListBranches",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "q",
            "description": "Search branches by name",
            "type": "string"
          },
          {
            "in": "query",
            "name": "production",
            "description": "Filter branches by production status",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "safe_migrations",
            "description": "Filter branches by safe migrations (DDL protection)",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order branches by created_at time",
            "type": "string"
          },
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns database branches",
            "schema": {
              "$ref": "#/definitions/PaginatedDatabaseBranch"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Database branches"
        ],
        "summary": "Create a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060create_branch\u0060, \u0060restore_production_branch_backup\u0060, \u0060restore_backup\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_branches\u0060, \u0060restore_production_branch_backups\u0060, \u0060restore_backups\u0060 |\n| Database | \u0060write_branches\u0060, \u0060restore_production_branch_backups\u0060, \u0060restore_backups\u0060 |\n| Branch | \u0060restore_backups\u0060 |",
        "operationId": "CreateBranch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateBranchRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "201": {
            "description": "Returns the created branch",
            "schema": {
              "$ref": "#/definitions/DatabaseBranch"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "Get a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "GetBranch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns information about a branch",
            "schema": {
              "$ref": "#/definitions/DatabaseBranch"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Database branches"
        ],
        "summary": "Update a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_database\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_branches\u0060, \u0060write_databases\u0060 |\n| Database | \u0060write_branches\u0060, \u0060write_database\u0060 |\n| Branch | \u0060write_branch\u0060 |",
        "operationId": "UpdateBranch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateBranchRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the updated branch",
            "schema": {
              "$ref": "#/definitions/DatabaseBranch"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Database branches"
        ],
        "summary": "Delete a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060delete_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060delete_branches\u0060, \u0060delete_production_branches\u0060 |\n| Database | \u0060delete_branches\u0060, \u0060delete_production_branches\u0060 |\n| Branch | \u0060delete_branch\u0060 |",
        "operationId": "DeleteBranch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "delete_descendants",
            "description": "If true, recursively delete all descendant branches along with this branch",
            "type": "boolean"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "204": {
            "description": "Delete a branch",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/admin": {
      "get": {
        "tags": [
          "api-neki_admins"
        ],
        "summary": "Get the admin for a Neki branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "GetAdmin",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Admin not found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the admin",
            "schema": {
              "$ref": "#/definitions/NekiAdmin"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-neki_admins"
        ],
        "summary": "Update the admin for a Neki branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_database\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_databases\u0060 |\n| Database | \u0060write_database\u0060 |",
        "operationId": "UpdateAdmin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateAdminRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Admin not found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the admin",
            "schema": {
              "$ref": "#/definitions/NekiAdmin"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/admin-size-skus": {
      "get": {
        "tags": [
          "api-neki_admins"
        ],
        "summary": "List admin size SKUs for a Neki branch",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "ListAdminSizeSkus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns admin size SKUs",
            "schema": {
              "$ref": "#/definitions/ListAdminSizeSkus200ResponseSchema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/admin/changes": {
      "get": {
        "tags": [
          "api-neki_admin_changes"
        ],
        "summary": "List change requests for a Neki admin",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "ListAdminChangeRequests",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          },
          {
            "in": "query",
            "name": "period",
            "description": "Filter change requests by named period",
            "type": "string"
          },
          {
            "in": "query",
            "name": "completed_at",
            "description": "Filter change requests completed between two ISO 8601 timestamps",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Admin not found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "308": {
            "description": "Redirects to the Neki change requests endpoint",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/admin/changes/{id}": {
      "get": {
        "tags": [
          "api-neki_admin_changes"
        ],
        "summary": "Get a change request for a Neki admin",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "GetAdminChangeRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the change request",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Admin or change request not found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "308": {
            "description": "Redirects to the Neki change request endpoint",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-neki_admin_changes"
        ],
        "summary": "Cancel a change request for a Neki admin",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_database\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_databases\u0060 |\n| Database | \u0060write_database\u0060 |",
        "operationId": "CancelAdminChangeRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the change request",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Admin or change request not found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "308": {
            "description": "Redirects to the Neki change request endpoint",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/admin/parameters": {
      "get": {
        "tags": [
          "api-neki_admin_parameters"
        ],
        "summary": "List parameters for a Neki admin",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "ListAdminParameters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Admin not found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns parameters for the admin",
            "schema": {
              "$ref": "#/definitions/ListAdminParameters200ResponseSchema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/backups": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List backups",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_backups\u0060 |\n| Database | \u0060read_backups\u0060 |\n| Branch | \u0060read_backups\u0060 |",
        "operationId": "ListBackups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "all",
            "description": "Whether to include all backups, including deleted ones",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "state",
            "description": "Filter backups by state",
            "type": "string"
          },
          {
            "in": "query",
            "name": "policy",
            "description": "Filter backups by backup policy ID",
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "Filter backups started after this date (e.g. 2023-01-01T00:00:00Z)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "to",
            "description": "Filter backups started before this date (e.g. 2023-01-31T23:59:59Z)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "running_at",
            "description": "Filter backups that are running during a specific time (e.g. 2023-01-01T00:00:00Z..2023-01-01T23:59:59Z)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "production",
            "description": "Filter backups by production branch",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns database branch backups",
            "schema": {
              "$ref": "#/definitions/PaginatedBackup"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Backups"
        ],
        "summary": "Create a backup",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_backups\u0060 |\n| Database | \u0060write_backups\u0060 |\n| Branch | \u0060write_backups\u0060 |",
        "operationId": "CreateBackup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateBackupRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "201": {
            "description": "Returns the created database branch backup",
            "schema": {
              "$ref": "#/definitions/Backup"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/backups/{id}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get a backup",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_backups\u0060 |\n| Database | \u0060read_backups\u0060 |\n| Branch | \u0060read_backups\u0060 |",
        "operationId": "GetBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID for the backup",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns a database branch backup",
            "schema": {
              "$ref": "#/definitions/Backup"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Backups"
        ],
        "summary": "Update a backup",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060write_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060write_backups\u0060 |\n| Database | \u0060write_backups\u0060 |\n| Branch | \u0060write_backups\u0060 |",
        "operationId": "UpdateBackup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the backup",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateBackupRequest"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns the backup",
            "schema": {
              "$ref": "#/definitions/Backup"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Backups"
        ],
        "summary": "Delete a backup",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060delete_backups\u0060, \u0060delete_production_branch_backups\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060delete_backups\u0060, \u0060delete_production_branch_backups\u0060 |\n| Database | \u0060delete_backups\u0060, \u0060delete_production_branch_backups\u0060 |\n| Branch | \u0060delete_backups\u0060 |",
        "operationId": "DeleteBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the backup",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "organization",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "The name of the branch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "204": {
            "description": "Delete a backup",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/bouncer-resizes": {
      "get": {
        "tags": [
          "api-branch_bouncer_resizes"
        ],
        "summary": "Get bouncer resize requests",
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n \u0060read_branch\u0060, \u0060delete_branch\u0060, \u0060create_branch\u0060, \u0060connect_production_branch\u0060, \u0060connect_branch\u0060\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | \u0060read_branches\u0060 |\n| Database | \u0060read_branches\u0060 |\n| Branch | \u0060read_branch\u0060 |",
        "operationId": "ListBranchBouncerResizeRequests",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "description": "Organization name slug from \u0060list_organizations\u0060. Example: \u0060acme\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "database",
            "description": "Database name slug from \u0060list_databases\u0060. Example: \u0060app-db\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "branch",
            "description": "Branch name from \u0060list_branches\u0060. Example: \u0060main\u0060.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "page",
            "description": "If provided, specifies the page offset of returned results",
            "type": "integer",
            "default": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "If provided, specifies the number of returned results",
            "type": "integer",
            "default": 25
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "description": "Fallback media schema"
            }
          },
          "200": {
            "description": "Returns bouncer resize requests",
            "schema": {
              "$ref": "#/definitions/PaginatedPostgresBouncerResizeRequest"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/bouncers": {
      "get": {
        "tags": [
          "Bouncers"
        ],
        "summary": "List bouncers",
[...]
